---
import Layout from "@/layouts/Layout.astro";
import Main from "@/layouts/Main.astro";
import Button from "@/components/Button.astro";
import Section from "@/layouts/Section.astro";
import Container from "@/layouts/Container.astro";

const image1 = "/art/art01.jpg";
---

<Layout title="takaoka_webdesigner" addtionalClass="dark">
  <Main>
    <Container>
      <div class="section">
        <div class="rotate-image">
          <div class="rotate-image__holder">
            {
              Array.from({ length: 20 }).map((_, i) => {
                return (
                  <div class={`rotate-image__image rotate-image--${i}`}>
                    <img
                      src={image1}
                      alt="cyber"
                      width={1280}
                      height={720}
                      loading="lazy"
                    />
                  </div>
                );
              })
            }
          </div>
        </div>
        <div class="space-image">
          <!-- this image is exist for keepspace (coz opacity is 0).-->
          <img
            src={image1}
            alt="cyber"
            width={1280}
            height={720}
            loading="lazy"
          />
        </div>
      </div>
    </Container>
  </Main>
</Layout>

<script>
  const images = document.querySelectorAll(".rotate-image__image");
  images.forEach((image, i) => {
    console.log(image, i);
    setInterval(() => {
      image.classList.toggle("rotate");
    }, 8000);
  });
</script>

<style lang="scss">
  .section {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  .rotate-image__holder {
    position: relative;
    z-index: 0;
    max-width: 90rem;
    margin-inline: auto;
  }
  .space-image {
    max-width: 90rem;
    margin-inline: auto;
    aspect-ratio: 1/1;
    opacity: 0;
  }
  .rotate-image__image {
    aspect-ratio: 1/1;
    position: absolute;
  }
  @for $i from 0 through 20 {
    .rotate-image--#{$i} {
      transition-delay: #{$i * 0.1}s;
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      z-index: -#{$i};
      @if $i != 19 {
        $clip-size: $i * 2.5;
        clip-path: unquote("circle(#{$clip-size}% at 50% 50%)");
      }
    }
    .rotate-image--#{$i}.rotate {
      @if $i != 19 {
        transform: rotate(#{$i * 20}deg);
        transition-delay: #{$i * 0.2}s;
      }
    }
  }
</style>
