---
import Button from '@/components/Button.astro'
import CardWorks from '@/components/CardWorks.astro'
import Layout from '@/layouts/Layout.astro'
import Main from '@/layouts/Main.astro'
import Section from '@/layouts/Section.astro'
const animationThumb01 = '/sneakers/sneaker01.jpg'
const animationThumb02 = '/foodie/foodie08.jpg'
const animationThumb03 = '/heritage/heritage02.jpg'
const animationThumb04 = '/foodie/foodie04.jpg'
const animationThumb05 = '/music/music01.jpg'
const animationThumb06 = '/art/art01.jpg'
const animationThumb07 = '/thumbnails/animation07.jpg'
const animationThumb08 = '/music/music03.jpg'
const animationThumb09 = '/music/music07.jpg'
const animationThumb10 = '/art/art02.jpg'
const practiceThumb01 = '/textures/square.jpg'
const practiceThumb02 = '/girls/girls01.png'
---

<Layout title="takaoka_webdesigner">
  <Main>
    <Section heading="webgl">
      <div class="cards">
        <CardWorks title="cube" description="webgl practice01" thumbnail={practiceThumb01} url="/webgl/practice01" />
        <CardWorks
          title="slider lenis"
          description="webgl practice02"
          thumbnail={practiceThumb02}
          url="/webgl/practice02"
        />
      </div>
    </Section>
    <Section heading="animation">
      <div class="cards">
        <CardWorks
          title="horizontal scroll"
          description="animation practice"
          thumbnail={animationThumb01}
          url="/animation/practice01"
        />
        <CardWorks
          title="sticky gallery"
          description="animation practice"
          thumbnail={animationThumb02}
          url="/animation/practice02"
        />
        <CardWorks
          title="slideshow mask-image"
          description="animation practice"
          thumbnail={animationThumb03}
          url="/animation/practice03"
        />
        <CardWorks
          title="page-transition"
          description="animation practice"
          thumbnail={animationThumb04}
          url="/animation/practice04-main"
        />
        <CardWorks
          title="svg slideshow"
          description="animation practice"
          thumbnail={animationThumb05}
          url="/animation/practice05"
        />
        <CardWorks
          title="image rotate"
          description="animation practice"
          thumbnail={animationThumb06}
          url="/animation/practice06"
        />
        <CardWorks
          title="image tile"
          description="animation practice"
          thumbnail={animationThumb07}
          url="/animation/practice07"
        />
        <CardWorks
          title="totally scrath slider"
          description="animation practice"
          thumbnail={animationThumb08}
          url="/animation/practice08"
        />
        <CardWorks
          title="sticky"
          description="animation practice"
          thumbnail={animationThumb09}
          url="/animation/practice09"
        />
        <CardWorks
          title="container height"
          description="container height test"
          thumbnail={animationThumb10}
          url="/animation/practice10"
        />
      </div>
    </Section>
    <Section heading="reproduction">
      <div class="cards">
        <!-- <CardWorks
          title="side scroll"
          description="animation practice01"
          thumbnail={animationThumb01}
          url="/animation/practice01"
        /> -->
      </div>
    </Section>
  </Main>
</Layout>

<style lang="scss">
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    row-gap: 3.2rem;
  }
  @media (max-width: 768px) {
    .cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
</style>
